div.fondito{
    background-image: url("https://img.freepik.com/free-vector/cyber-data-security-online-concept-illustration-internet-security-information-privacy-protection_1150-37328.jpg?w=740&t=st=1674531962~exp=1674532562~hmac=921807675e751e6ddeac2bdaf7cfa9d49653fd67fed932b31edd0da7087e7d96");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}