
<div class="w-11/12 mx-auto my-4 md:w-4/5">
  <button class="bg-green-500 duration-300 tex-white px-8 py-2 rounded-xl text-white hover:bg-green-600" (click)="onClickNuevo()">Registrar producto nuevo</button>
</div>
<table class="table-auto border-collapse border border-slate-400 w-11/12 mx-auto text-center md:w-4/5">
  <thead class="bg-black text-white text-lg">
    <tr>
      <th class="border border-slate-300 py-3">Nombre</th>
      <th class="border border-slate-300 py-3">Precio</th>
      <th class="border border-slate-300 py-3">Imagen</th>
      <th class="border border-slate-300 py-3">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let prod of farmacia" class="group/item hover:bg-blue-100">
      <td class="border border-slate-300">{{prod.producto}}</td>
      <td class="border border-slate-300">S/. {{prod.costo}}</td>
      <td class="border border-slate-300"><img class="mx-auto my-1" src="{{prod.foto}}" alt="" width="100"></td>
      <td class="border border-slate-300">
        <button class="bg-red-500 duration-300 tex-white px-4 py-2 rounded-xl text-white hover:bg-red-700" (click)="onClickDelete(prod)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>